extends ../../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li Проданы квитки


    div
    br
    hr
    div.list-wrapper
        table(id='shop-list')
            each val, index in data
                tr
                    td= index
                    td=' Пасажир:' + val.passanger.name
                    td=' Потяг:' + val.train.Route
                    td=' Номер квитка:' + val.ticket.number


block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')
